<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 mt20 mb20 home-content">
      <p>SparkleBritain Ltd. is a one-stop shop for British businesses wishing to build their brands in the People’s Republic of China – to promote, market and sell their wares in the most important marketplace of the twenty-first century.</p>

      <p>Our vast network of connections, plus key strategic partnerships with major Chinese media providers and institutions, enables us to give your brand traction in China, raising awareness of its unique identity and products.</p>

      <p>Headquartered in Marlborough, England, SparkleBritain also has offices in Beijing, China at the National Stadium (Bird’s Nest Stadium), and a Chinese sister company headquartered in Shanghai.</p>

      <p>We work across a number of platforms to promote our clients’ companies – placing high quality bespoke advertorial in e-zines, in-flight magazines, websites and Chinese social media. We also have premium exhibition space at the Bird’s Nest Stadium, the Chinese National Centre for the Performing Arts, and a channel on one of China’s most prestigious electronic retailing platforms.</p>

      <p>SparkleBritain can create great advertorial or advertising materials for you, then place it in magazines, websites and social media channels reaching tens of millions of people. We can get your products displayed in prime cultural sites in China. We can design and code Chinese language websites for you and get them hosted in site, behind the ‘great firewall of China’. We can help you sell your products directly to many millions of potential Chinese purchasers.</p>

      <p>Our range of services is extensive, with something for everyone. We’re just as comfortable working with small-to-medium sized businesses as we are with major British brands. Whatever your company’s size or market, we can help...</p>

      <p>If you offer high quality British goods or services and would like to discuss how you can grow your brand in China, or get in front of many millions of high worth Chinese consumers, then call 07985 323279 or email info@uklaomao.com for a friendly, free and confidential consultation.</p>

      <div class="row">
        <div class="col-md-4"><%= image_tag 'frontend/logo/uklm.png' %></div>
        <div class="col-md-4"><%= image_tag 'frontend/logo/capital_airlines.png' %></div>
        <div class="col-md-4"><%= image_tag 'frontend/logo/hainan_airlines.png' %></div>
        <div class="col-md-4"><%= image_tag 'frontend/logo/okair.png' %></div>
        <div class="col-md-4"><%= image_tag 'frontend/logo/tianjin_airlines.png' %></div>
        <div class="col-md-4"><%= image_tag 'frontend/logo/sina.png' %></div>
        <div class="col-md-4"><%= image_tag 'frontend/logo/ecitic.png' %></div>
        <div class="col-md-4"><%= image_tag 'frontend/logo/birds_nest.png' %></div>
        <div class="col-md-4"><%= image_tag 'frontend/logo/ncpa.png' %></div>
      </div>

      <p>SparkleBritain content appears in UK Lao Mao magazine, which goes out across Capital Airlines, HaiNan Airlines, OKair and Tianjin Airlines. It is downloadable as a free PDF from the bilingual UK Lao Mao website, hosted in China, optimised for easy reading on portable electronic devices. It goes in front of 6 million high worth passengers per month.</p>

      <p>The content also appears on the lifestyle section of Sina.com and its mobile website, and its associated Weibo and WeChat social media channels. Each article gets in front of around 10 million users on its initial release date. UK Lao Mao is an official partner of Sina.com.</p>

      <p>Selected articles appear on eCitic.com, which has 4.3 million people accessing it per day on average. Free VIP membership is given to 1.4 million CITIC Bank Platinum Cardholders, and our content is promoted directly to these very high worth individuals. SparkleBritain is an official partner with CITIC online retailing.</p>

      <p>SparkleBritain is partnered with the Bird's Nest Stadium Space Art Committee, with exhibition space inside the Bird’s Nest Stadium Culture Centre. British companies wishing to display their products in this ultra-prestigious location are welcome to contact us to discuss.</p>
    </div>
  </div>
</div>